@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    color: #173540;
}



/*Header Navbar CSS */
.header-Container {
    max-width: 81.25%;
    width: 75.125rem;
    margin: auto;
}
 .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.25rem;
}

 .nav .leftLogo {
    max-width: 11.875rem;
    max-height: 3.125rem;
}

.nav .logo-icon {
    margin-right: 17px;
}
 .nav span{
    color: #FF5400;
}


.nav .rightNavigation {
    display: flex;
    justify-content: space-between;
}

 .nav .rightNavigation ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav .rightNavigation ul a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

.nav .rightNavigation ul li:first-child a {
    color:  #FF5400;
    font-size: 18px;
    font-weight: 700;
}


 .nav .phoneHamburger {
    display: inline-flex;
    justify-content: right;
}

.nav .hamburger {
    display: none;
}

/* Header Hero Section CSS*/
 .h-Section {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('/Images/Group\ 13\ \(1\)\ \(1\).png');
    border-radius: 1rem;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    height: fit-content;
    margin: 3.125rem 0;
}

.h-Section h2 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    padding-top: 6.625rem;
}

.h-Section p {
    color: #FFF;
    max-width: 42.25rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin: 1.5rem auto 3rem auto;
}

/* Header Find Now Container CSS */

.findNowContainer {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto 6.625rem auto;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.30);
}
 .findNowContainer form input[type=text] {
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #FFF;
    border: 0.063rem solid #fff;
    padding: 1rem;
}

 .findNowContainer form input[type=text]::placeholder {
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
}

 .findNowContainer form .when {
    width: 10.875rem;
    height: 3.25rem;
    border-radius: .5rem;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    border: 0.063rem solid #fff;
}

.findNowContainer form .type {
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    border: 0.063rem solid #fff;

}
  .header-button {
    padding: 1rem;
    color: #FFF;
    font-weight: 700;
    border-radius: 0.5rem;
    background:  #FF5400;;
    border: 0.063rem solid  #FF5400;
    position: relative;
    cursor: pointer;
}

.primary-button::before {
    content: url('/Images/Frame.svg');
    margin-left: 8px;
}


 .findNowContainer form button {
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
}

 .whiteSpace {
    padding: .001rem;
}
